html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(21, 67, 114);
    height: 100vh
}

.container-navbar {
    background-color: rgb(34, 84, 134);
    width: 100%;
    height: 100px;
}

.ulnavbar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.linavbar {
    border: 1px solid antiquewhite; border-color: rgb(255, 255, 255);
    background-color: black;
    list-style-type: none;
    padding: 10px;
    color: antiquewhite;
}
.linavbar:hover {
    background-color: pink;
    transition: .2s ease-in-out;
    transition-delay: .3s;
}

a {
    text-decoration: none;
}

.container-content {
    background-color: rgb(7, 1, 37);
    color: #faebd7;
    font-style: italic;
    display: flex;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

a-content {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-direction: reverse;
}
a-content:hover {
   box-shadow: 20px 20px 10px 0px rgb(7, 1, 37);

}

.img-content {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 20px;
}
